.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

/*display style*/
.hide {
  display: none;
}

.show {
  display: block;
}

/*padding style*/
.pb40 {
  padding-bottom: 40px;
}

/*margin style*/
.mt5 {
  margin-top: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt45 {
  margin-top: 45px;
}

/*width style*/
.wp100 {
  width: 100%;
}

/*height style*/
.hp100 {
  height: 100%;
}

/*top style*/
.top20 {
  top: 20px;
}

/*flex style*/
/*justify-content*/
.justify-content-center {
  justify-content: center;
}

/*position style*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
